
body{
	font-family: arial, helvetica;
	background: #e8e8e8;
}
.menu{
	list-style: none;
	padding: 0;
	background: rgb(0, 140, 69);
	text-align: center;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
	font-size: 2rem;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background:rgb(205 , 33, 42);
}
#main-container{
	margin: auto;
	font-size: 1rem;	
	display: flex;
}

table{
	background-color: white;
	
	border-collapse: collapse;
	width: 100%;
}

th{
	padding: 20px;
	
}


thead{
	background-color: red;
	border-bottom: solid 5px #0F362D;
	color: white;
	
}

tr:nth-child(even){
	background-color: #ddd;
}

td{
	text-align: center;
}


.mover{
	width:25%;
	padding: 0.3rem;
	font-size: 1rem;
	border: none;
	background-color: rgb(0, 140, 69);
	color: white;
	border-radius: 10px;
	
}
.eliminar{	
	width:25%;
	padding: 0.3rem;
	font-size: 1rem;
	border: none;
	background-color: rgb(205 , 33, 42);
	color: white;
	border-radius: 10px;
}
.crear_arbol h3{
	background-color: rgb(205 , 33, 42);
	color: white;
	text-align: center;
	margin: 0px;
	padding: 1rem;
}
.crear_arbol{
	width: 500px;
	border:1px solid black;
	text-align:left ;
	align-content: initial;
	margin:auto;
	
}

.crear_arbol li{
	padding-left: 1rem;
	list-style: none;
	
}
.crear_arbol input[type=submit]{
	width: 75px;
	margin: 1rem 162.5px;
}

h3,h4{
	margin: 1rem;
}
.Cliente{
	background-color: white;
	font-size: 1rem;
	display: flex;
	border-bottom: black 2px solid;
}
.Cliente p{
	margin: 2rem;
}
#nuevo_cliente{
	margin:10px auto;
	width: 400px;
	border: solid 2px black;
}
#nuevo_cliente li{
	list-style: none;
}
#nuevo_cliente input, select{
	font-size: 1rem;
	margin-bottom: 1rem;
	
	
	
}

#nuevo_cliente h2{
	margin-top: 0px;
	padding: 0.5rem;
	text-align: center;
	color: white;
	background-color:rgb(0, 140, 69);
}
.acciones{
	display: flex;
	align-items: center;
}
.imprimir{
	padding: 0;
	text-align: center;
	position:relative;
}
.imprimir li{
	display: inline-block;
	
	margin: auto;
}
.separacion{
	border-bottom: black 4px solid;
	padding-top: 1rem;
}
.paraImprimir{
	font-size: 1.5rem;
}
.paraImprimir thead{
	background-color: white;
	border-bottom: solid 4px black;
	border-top: solid 4px black;;
	color: black;
	
}
.paraImprimir td{
	border-bottom: black 2px solid;
	border-right: black 1px solid;
	text-align: left;
}
.acta{
	width: 5%;
}

.lugar{
	width: 25%;
}

.datos{
	width: 40%;
}

.fecha{
	width: 40%;
}
.crear_pago{
	width: 350px;
	border:1px solid black;
}
.crear_pago h3{
	background-color: rgb(205 , 33, 42);
	color: white;
	text-align: center;
	margin: 0px;
	padding: 1rem;
}
.crear_pago ul{
	width: 100% ;
	margin-left: 0px;
	
}
.crear_pago li{
	text-align:left ;
	list-style: none;
	margin: 0.5rem;
	
}
.crear_pago input{
	width: 50%;
}
.crear_pago input[type=submit]{
	width: 75px;
	margin: auto;
}